<a href="https://colab.research.google.com/github/wl4713/big-short/blob/main/sk%ED%95%98%EC%9D%B4%EB%8B%89%EC%8A%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
!pip install Finance-DataReader

Requirement already satisfied: Finance-DataReader in /usr/local/lib/python3.10/dist-packages (0.9.90)
Requirement already satisfied: pandas>=0.19.2 in /usr/local/lib/python3.10/dist-packages (from Finance-DataReader) (2.0.3)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.10/dist-packages (from Finance-DataReader) (2.31.0)
Requirement already satisfied: requests-file in /usr/local/lib/python3.10/dist-packages (from Finance-DataReader) (2.1.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.10/dist-packages (from Finance-DataReader) (4.9.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from Finance-DataReader) (4.66.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.19.2->Finance-DataReader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.19.2->Finance-DataReader) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.19.2->Finance-DataReader) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.19.2->Finance-DataReader) (1.25.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.3.0->Finance-DataReader) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.3.0->Finance-DataReader) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.3.0->Finance-DataReader) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.3.0->Finance-DataReader) (2024.6.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=0.19.2->Finance-DataReader) (1.16.0)

In [38]:
import FinanceDataReader as fdr

In [39]:
krx = fdr.StockListing('KRX')

In [40]:
krx.head()

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,81800,3,0,0.00,82300,82300,81000,11440328,933802003100,488328212590000,5969782550,STK
1,000660,KR7000660001,SK하이닉스,KOSPI,,236000,1,4000,1.72,231000,236000,225000,3315677,765077936994,171808558140000,728002365,STK
2,373220,KR7373220003,LG에너지솔루션,KOSPI,,358000,1,14500,4.22,360000,369500,353000,714015,258132310500,83772000000000,234000000,STK
3,005380,KR7005380001,현대차,KOSPI,,276000,1,3500,1.28,275000,281500,272500,1072157,296157158500,57798868716000,209416191,STK
4,207940,KR7207940008,삼성바이오로직스,KOSPI,,810000,3,0,0.00,805000,818000,792000,156413,125886283000,57650940000000,71174000,STK

In [41]:
krx[krx['Name']=='SK하이닉스']['Code']

1    000660
Name: Code, dtype: object

In [42]:
df= fdr.DataReader('000660')
df.head()

              Open    High     Low   Close   Volume    Change
Date
2000-03-13  398481  402407  366093  371000  7712000       NaN
2000-03-14  378852  404370  372963  386703  7374010  0.042326
2000-03-15  372963  410259  369037  403388  6626500  0.043147
2000-03-16  418111  420074  387685  394555  5726020 -0.021897
2000-03-17  406333  417130  402407  408296  5506430  0.034827

In [43]:
df=df.rename(columns={'High': '고가','Low': '저가','Close' : '종가','Volume':'거래량','Change': '변동률','Open':'시가'})
df.head()

                시가      고가      저가      종가      거래량       변동률
Date
2000-03-13  398481  402407  366093  371000  7712000       NaN
2000-03-14  378852  404370  372963  386703  7374010  0.042326
2000-03-15  372963  410259  369037  403388  6626500  0.043147
2000-03-16  418111  420074  387685  394555  5726020 -0.021897
2000-03-17  406333  417130  402407  408296  5506430  0.034827

In [44]:
df['수익률']= df['종가'].pct_change()
df['10Days']=df['종가'].rolling(window=10).mean()
df['50Days']=df['종가'].rolling(window=50).mean()
df.head(50)

,시가,고가,저가,종가,거래량,변동률,수익률,10Days,50Days
Date,,,,,,,,,
2000-03-13,398481,402407,366093,371000,7712000,NaN,NaN,NaN,NaN
2000-03-14,378852,404370,372963,386703,7374010,0.042326,0.042326,NaN,NaN
2000-03-15,372963,410259,369037,403388,6626500,0.043147,0.043147,NaN,NaN
2000-03-16,418111,420074,387685,394555,5726020,-0.021897,-0.021897,NaN,NaN
2000-03-17,406333,417130,402407,408296,5506430,0.034827,0.034827,NaN,NaN
2000-03-20,431852,442648,424000,435777,8825570,0.067307,0.067307,NaN,NaN
2000-03-21,437741,449519,426944,445592,8173300,0.022523,0.022523,NaN,NaN
2000-03-22,449519,477000,445593,471111,12114430,0.057270,0.057270,NaN,NaN
2000-03-23,480926,499574,451481,451481,12916120,-0.041667,-0.041667,NaN,NaN
2000-03-24,471111,519204,455407,495648,22081620,0.097827,0.097827,426355.1,NaN
2000-03-27,501537,512333,475037,490740,13710320,-0.009902,-0.009902,438329.1,NaN
2000-03-28,500556,525093,490741,508407,15201990,0.036001,0.036001,450499.5,NaN
2000-03-29,508407,539815,500556,524111,17203170,0.030889,0.030889,462571.8,NaN
2000-03-30,518222,518222,488778,500555,10789400,-0.044945,-0.044945,473171.8,NaN
2000-03-31,481907,510370,481907,482888,7857470,-0.035295,-0.035295,480631.0,NaN
2000-04-03,492704,514296,487796,498592,8441110,0.032521,0.032521,486912.5,NaN
2000-04-04,490741,505463,473074,486814,4812430,-0.023623,-0.023623,491034.7,NaN
2000-04-06,497611,500556,459333,459333,6962300,-0.056451,-0.056451,489856.9,NaN
2000-04-07,467185,484852,467185,479944,6262550,0.044872,0.044872,492703.2,NaN
2000-04-10,482889,495648,474056,483870,6073150,0.008180,0.008180,491525.4,NaN
2000-04-11,477000,477981,464241,471111,3571660,-0.026369,-0.026369,489562.5,NaN
2000-04-12,471111,482889,461296,476018,4119450,0.010416,0.010416,486323.6,NaN
2000-04-14,453444,461296,431852,443629,4816200,-0.068042,-0.068042,478275.4,NaN
2000-04-17,379833,401426,377870,377870,7367770,-0.148230,-0.148230,466006.9,NaN
2000-04-18,429889,432833,400444,426944,10777090,0.129870,0.129870,460412.5,NaN
2000-04-19,446574,460315,423019,437740,6686190,0.025287,0.025287,454327.3,NaN
2000-04-20,431852,444611,425963,431851,3105490,-0.013453,-0.013453,448831.0,NaN
2000-04-21,445593,447556,422037,422037,4409900,-0.022725,-0.022725,445101.4,NaN
2000-04-24,412222,427926,404370,424000,5294570,0.004651,0.004651,439507.0,NaN
2000-04-25,412222,418111,406333,411240,3623120,-0.030094,-0.030094,432244.0,NaN
2000-04-26,422037,426944,350389,350388,30856280,-0.147972,-0.147972,420171.7,NaN
2000-04-27,323889,333704,298370,317018,41861610,-0.095237,-0.095237,404271.7,NaN
2000-04-28,324870,352352,323889,345481,23225070,0.089784,0.089784,394456.9,NaN
2000-05-02,333704,355296,326833,341555,13589220,-0.011364,-0.011364,390825.4,NaN
2000-05-03,339593,355296,332722,341555,9937960,0.000000,0.000000,382286.5,NaN
2000-05-04,345481,357259,337630,343518,10673530,0.005747,0.005747,372864.3,NaN
2000-05-08,351370,361185,344500,350388,8848810,0.019999,0.019999,364718.0,NaN
2000-05-09,350389,352352,340574,342537,3724620,-0.022407,-0.022407,356768.0,NaN
2000-05-10,335667,340574,333704,335666,4205830,-0.020059,-0.020059,347934.6,NaN
2000-05-12,335667,339593,318981,321925,4445530,-0.040937,-0.040937,339003.1,NaN
2000-05-15,333704,350389,325852,328796,9547060,0.021343,0.021343,336843.9,NaN
2000-05-16,331741,344500,329778,343518,6240260,0.044775,0.044775,339493.9,NaN
2000-05-17,353333,362167,338611,345481,8522160,0.005714,0.005714,339493.9,NaN
2000-05-18,331741,342537,328796,335666,4001640,-0.028410,-0.028410,338905.0,NaN
2000-05-19,333704,335667,324870,333703,4356290,-0.005848,-0.005848,338119.8,NaN
2000-05-22,327815,332722,319963,319962,3307010,-0.041177,-0.041177,335764.2,NaN
2000-05-23,306222,322907,306222,315055,3634570,-0.015336,-0.015336,332230.9,NaN
2000-05-24,306222,323889,294444,314074,5498750,-0.003114,-0.003114,329384.6,NaN
2000-05-25,332722,340574,318000,330759,17417710,0.053124,0.053124,328893.9,NaN
2000-05-26,318000,321926,290519,296407,8270800,-0.103858,-0.103858,326342.1,403093.94

In [45]:
df=df.dropna()
df.head()

,시가,고가,저가,종가,거래량,변동률,수익률,10Days,50Days
Date,,,,,,,,,
2000-05-26,318000,321926,290519,296407,8270800,-0.103858,-0.103858,326342.1,403093.94
2000-05-29,258130,290519,252241,271870,14840410,-0.082781,-0.082781,320649.5,401111.34
2000-05-30,293463,312111,282667,312111,11645850,0.148016,0.148016,317508.8,399619.50
2000-05-31,331741,358241,324870,345481,17598730,0.106917,0.106917,317508.8,398461.36
2000-06-01,345481,369037,333704,353333,11873320,0.022728,0.022728,319275.5,397636.92

In [68]:
import numpy as np
df['목표']= np.where(df['수익률'].shift(-1)<0,1,0)

In [69]:
from sklearn.model_selection import train_test_split #import sklearn을 쓰기에는 너무 커서 지정
X_train,X_test,y_train,y_test=train_test_split(
    df[['수익률','10Days','50Days']],df['목표'],test_size=0.2,random_state=42) #random_state: 데이터 치우침을 막기위해 데이터를 섞는다.대부분 42사용

In [70]:
from sklearn.linear_model import LogisticRegression
lr =LogisticRegression() #LogisticRegression

print(y_train.shape,X_train.shape)

In [71]:
lr.fit(X_train,y_train)

LogisticRegression()

In [72]:
lr.predict(X_test)

array([0, 0, 0, ..., 0, 0, 0])

In [73]:
X_test

                 수익률    10Days     50Days
Date
2016-09-26  0.003812   38830.0   35378.00
2017-07-27  0.023952   70520.0   63540.00
2008-05-21  0.005025   29665.0   27355.00
2019-09-09  0.029304   78080.0   75298.00
2005-12-22  0.061290   28815.0   23611.00
...              ...       ...        ...
2004-04-06  0.095618   11915.0    9824.60
2019-07-22  0.020833   74970.0   69326.00
2009-07-14  0.038732   14865.0   13726.00
2000-06-14  0.079710  396027.3  388725.06
2004-12-13  0.004831   10470.0   12031.00

[1191 rows x 3 columns]

In [74]:
X_test['pred']=lr.predict(X_test)
X_test['Actual']=y_test

In [75]:
X_test

                 수익률    10Days     50Days  pred  Actual
Date
2016-09-26  0.003812   38830.0   35378.00     0       0
2017-07-27  0.023952   70520.0   63540.00     0       1
2008-05-21  0.005025   29665.0   27355.00     0       1
2019-09-09  0.029304   78080.0   75298.00     0       1
2005-12-22  0.061290   28815.0   23611.00     0       0
...              ...       ...        ...   ...     ...
2004-04-06  0.095618   11915.0    9824.60     0       0
2019-07-22  0.020833   74970.0   69326.00     0       0
2009-07-14  0.038732   14865.0   13726.00     0       0
2000-06-14  0.079710  396027.3  388725.06     0       1
2004-12-13  0.004831   10470.0   12031.00     0       0

[1191 rows x 5 columns]

In [76]:
lr.score(X_train,y_train)

0.5218487394957984

In [77]:
lr.score(X_test[['수익률','10Days','50Days']],y_test)

0.5239294710327456